<!DOCTYPE html> <!--Documentacion para html -->
<html lang="es"> <!--Idioma español -->
    <head> <!--Encabezado del documento -->
        
        <meta charset="UTF-8"> <!--Codificacion de caracteres -->
        
        <title>{{ titulo }}</title> <!--Titulo de la pagina --> 
        
        <link rel="stylesheet" href="/static/style.css"> <!--Enlace a la hoja de estilos CSS -->
    
    </head><!--Cierre del head -->|
    
    <body><!--Cuerpo del documento -->
        <h1 style="color:cyan; ">Hola mundo</h1> <!--Encabezado de la pagina --> 
        <p>!mi primera pagina con flask y jinja2</p> <!--Parrafo de la pagina -->

        <img src="/static/imagen.jpg" alt="Imagen de prueba"> <!--Imagen de la pagina -->
        
    </body><!--Cierre del body -->


</html> <!--Cierre del documento html -->