<!DOCTYPE html> <!--Documentacion para html -->
<html lang="es">
    <head>
        
        <meta charset="UTF-8">
        
        <title>{{ titulo }}</title>
        
        <link rel="stylesheet" href="/static/style.css">
    
    </head>
    <body>
        <h1 style="color:cyan; ">Hola mundo</h1> <!--Encabezado de la pagina -->
        <p>!mi primera pagina con flask y jinja2</p> <!--Parrafo de la pagina -->

        <img src="/static/imagen.jpg" alt="Imagen de prueba"> <!--Imagen de la pagina -->
        
    </body><!--Cierre del body -->


</html> <!--Cierre del documento html -->