<!-- Lo que se hara es un formulario para colocar datos de usuario que serian nombre apellido ciudad y telefono--> 

<!DOCTYPE html> <!-- Comenzamos diciendo el typo de documento-->

<html lang="es"> <!-- Definimos el lenguaje del documento-->
<head> <!-- Comienzo de la seccion head-->
    <meta charset="UTF-8"> <!-- Definimos la codificacion de caracteres-->
    
    <title>Formulario de Usuarios</title> <!-- Titulo de la pagina-->

    <link rel="stylesheet" href="/static/style.css">

</head> <!-- Fin de la seccion head-->

<body>

    <h1 style= "color: red;">  Registro de usuario (Formulario) </h1>

    <br>
     
    <strong><em>Nombre: <input type="text" placeholder="Escribe tu nombre a continuacion"> </em></strong>

    <br>

    <em><strong> Ingresa Tu Apellido : <input type="text" placeholder="Ingresa tu apellido"> </strong></em>

    <br>

    <em><strong> Ciudad: <input type="text" placeholder="Escribe tu ciudad"> </strong></em>

    <br>

    <strong><p><em> Telefono: <input type="number" placeholder="Escribe tu numero de telefono"> </em> </p> </strong>

    <br>

         <button type="submit"> Enviar </button>

         <br>



</body>







